<header class="topnav">
    <div class="topnav-brand">
        <img src="/images/Logo.png" alt="Veterinaria MaxPets" class="nav-logo" />
        <div class="brand-text">
            <span class="brand-name">Veterinaria MaxPets</span>
            <span class="brand-tagline">Cuidamos a tu mejor amigo</span>
        </div>
    </div>

    <nav class="topnav-links">
        <NavLink href="/" Match="NavLinkMatch.All">Inicio</NavLink>
        <NavLink href="/catalogo">Servicios</NavLink>
        <NavLink href="/mascotas">Mascotas</NavLink>
        <NavLink href="/citas">Citas</NavLink>
    </nav>
</header>